@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Lato";
}

header {
  height: 250px;
  border: solid 1px black;
  margin: auto;
  max-width: 1100px;
  background-image: url(/JSProject/Images/background.jfif);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

footer {
  margin: auto;
  text-align: center;
  border: 1px solid black;
  max-width: 1100px;
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;
  border: solid 2px black;
  height: 800px;
  background-color: white;
}

.pokemon {
  display: flex;
  flex-direction: row;
  height: 750px;
}

.search {
  flex-direction: column;
  height: 50px;
  width: 30%;
  font-size: 15px;
  border: 2px solid #ddd;
  margin: 10px;
  padding: 5px;
}

.pokemonsearch {
  background-image: url(/JSProject/Images/pokemonball.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  border-radius: 10px;

  margin: 10px;
  padding: 5px;

  overflow: auto;
  max-width: auto;

  height: 750px;
}
.liClass,
.ulClass {
  padding: 12px;
  text-decoration: none;
  font-size: 20px;

  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  width: 150px;
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.pokemon-card img {
  align-self: center;

  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}
.pokemon-stats {
  padding: 5px;
  text-align: left;
}

h3 {
  font-size: 20px;
}
